<div *ngIf="selectedImage" class="full-view">
  <img class="full-view-image" src="{{ selectedImage.full }}" alt="{{ selectedImage.full }}">
</div>

<ul class="preview-list">
  <li class="preview"
    *ngFor="let image of images"
    [class.selected]="image === selectedImage"
    [class.preselected]="prevSelectedImage && image === prevSelectedImage"
    (mouseenter)="onHover(image)"
    (mouseleave)="onLeave(image)"
    (click)="onSelect(image)"
  >
    <img class="preview-image" src="{{ image.preview }}" alt="{{ image.preview }}">
  </li>
</ul>
